@using WebLabsBlazorApp1.Data;
<h3>ApiDemo</h3>

@page "/apidemo"
@* @inject HttpClient client *@
@inject IHttpClientFactory clientFactory



@code
{
    [Parameter]
    public IEnumerable<ListViewModel> dishes { get; set; }
    // string apiBaseAddress = "https://localhost:7256/Api/Dishes";
    protected override async Task OnInitializedAsync()
    {
        dishes = await client.GetFromJsonAsync<IEnumerable<ListViewModel>>(apiBaseAddress);
    }
}

<div class="container">
    <input type="text" bind-value="@dishes" />

</div>